body {
    color: white;
    background: black;
    margin: 0;
    font-family: "Unica One", sans-serif;
    overflow-x: hidden; /* evita scroll lateral */
}

/* HEADER */

header {
    border-bottom: solid 2px #b33b44;
    padding: 20px;
    font-size: 32px;
    color: #b33b44;
    text-align: left;
}

/* SEÇÃO PRINCIPAL */

.chamada {
    background: #711e2b;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.chamada-texto {
    max-width: 500px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

/* VIDEO RESPONSIVO */

.video-container {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* CATEGORIA */

.categoria {
    padding: 40px 20px;
}

.categoria h2 a {
    text-decoration: underline;
    color: #b33b44;
    transition: 0.3s;
}

.categoria h2 a:hover {
    letter-spacing: 2px;
}


/* SCROLL HORIZONTAL */

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 15px;
}

.categoria-videos a {
    flex: 0 0 auto;
    text-decoration: none;
    color: white;
}

.categoria-videos img {
    height: 200px;
    border-radius: 8px;
    opacity: 0.5;
    transition: 0.3s;
}

.categoria-videos img:hover {
    opacity: 1;
    border: 3px solid #b33b44;
}

/* Scroll custom */

.categoria-videos::-webkit-scrollbar {
    height: 8px;
}

.categoria-videos::-webkit-scrollbar-thumb {
    background: #b33b44;
    border-radius: 10px;
}

/* RESPONSIVO */

@media (max-width: 768px) {

    .chamada {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .categoria-videos img {
        height: 150px;
    }
}
