body {
    color: white;
    background: black;
    margin: 0;
    font-family: "Noto sans", sans-serif;
    margin-bottom: 100px;
}

/* HEADER */

header {
    border-bottom: solid 2px #b33b44;
    padding: 20px;
    font-size: 32px;
    color: #b33b44;
}

/* SEÇÃO PRINCIPAL */

.chamada {
    background: #711e2b;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.chamada-texto {
    max-width: 500px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

/* CATEGORIA */

.categoria {
    padding: 0 20px;
    margin-top: 50px;
}

.categoria h2 {
    color: #b33b44;
}

/* CONTAINER DOS VÍDEOS */

.categoria-videos {
    display: flex;
    overflow-x: auto;      /* scroll horizontal */
    gap: 15px;
    padding-bottom: 15px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* Impede quebrar linha */
.categoria-videos a {
    flex: 0 0 auto;
    text-decoration: none;
    color: white;
}

/* IMAGENS */

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    border-radius: 8px;
    transition: 0.3s;
}

.categoria-videos img:hover {
    opacity: 1;
    border: 3px solid #b33b44;
}

/* SCROLLBAR PERSONALIZADA (Chrome/Edge) */

.categoria-videos::-webkit-scrollbar {
    height: 8px;
}

.categoria-videos::-webkit-scrollbar-thumb {
    background: #b33b44;
    border-radius: 10px;
}

/* RESPONSIVO */

@media (max-width: 768px) {

    .chamada {
        flex-direction: column;   /* empilha */
        padding: 40px 20px;       /* cria margem lateral */
        text-align: center;
    }

    .chamada-texto {
        margin-right: 0;
    }

    .video-container {
        width: 100%;
        max-width: 100%;
    }
}
